# This file is managed by Ansible, all changes will be lost.
{% if redis_syslog_facility is defined and redis_syslog_facility|string|length > 0 %}
{% if redis_syslog_facility is not string and redis_syslog_facility is not number %}
{% for item in redis_syslog_facility %}
syslog-facility {{ item }}
{% endfor %}
{% else %}
syslog-facility {{ redis_syslog_facility }}
{% endif %}
{% endif %}
{% if redis_stop_writes_on_bgsave_error is defined and redis_stop_writes_on_bgsave_error|string|length > 0 %}
{% if redis_stop_writes_on_bgsave_error is not string and redis_stop_writes_on_bgsave_error is not number %}
{% for item in redis_stop_writes_on_bgsave_error %}
stop-writes-on-bgsave-error {{ item }}
{% endfor %}
{% else %}
stop-writes-on-bgsave-error {{ redis_stop_writes_on_bgsave_error }}
{% endif %}
{% endif %}
{% if redis_cluster_config_file is defined and redis_cluster_config_file|string|length > 0 %}
{% if redis_cluster_config_file is not string and redis_cluster_config_file is not number %}
{% for item in redis_cluster_config_file %}
cluster-config-file {{ item }}
{% endfor %}
{% else %}
cluster-config-file {{ redis_cluster_config_file }}
{% endif %}
{% endif %}
{% if redis_maxmemory_policy is defined and redis_maxmemory_policy|string|length > 0 %}
{% if redis_maxmemory_policy is not string and redis_maxmemory_policy is not number %}
{% for item in redis_maxmemory_policy %}
maxmemory-policy {{ item }}
{% endfor %}
{% else %}
maxmemory-policy {{ redis_maxmemory_policy }}
{% endif %}
{% endif %}
{% if redis_slave_read_only is defined and redis_slave_read_only|string|length > 0 %}
{% if redis_slave_read_only is not string and redis_slave_read_only is not number %}
{% for item in redis_slave_read_only %}
slave-read-only {{ item }}
{% endfor %}
{% else %}
slave-read-only {{ redis_slave_read_only }}
{% endif %}
{% endif %}
{% if redis_maxclients is defined and redis_maxclients|string|length > 0 %}
{% if redis_maxclients is not string and redis_maxclients is not number %}
{% for item in redis_maxclients %}
maxclients {{ item }}
{% endfor %}
{% else %}
maxclients {{ redis_maxclients }}
{% endif %}
{% endif %}
{% if redis_cluster_require_full_coverage is defined and redis_cluster_require_full_coverage|string|length > 0 %}
{% if redis_cluster_require_full_coverage is not string and redis_cluster_require_full_coverage is not number %}
{% for item in redis_cluster_require_full_coverage %}
cluster-require-full-coverage {{ item }}
{% endfor %}
{% else %}
cluster-require-full-coverage {{ redis_cluster_require_full_coverage }}
{% endif %}
{% endif %}
{% if redis_rdbcompression is defined and redis_rdbcompression|string|length > 0 %}
{% if redis_rdbcompression is not string and redis_rdbcompression is not number %}
{% for item in redis_rdbcompression %}
rdbcompression {{ item }}
{% endfor %}
{% else %}
rdbcompression {{ redis_rdbcompression }}
{% endif %}
{% endif %}
{% if redis_repl_diskless_sync is defined and redis_repl_diskless_sync|string|length > 0 %}
{% if redis_repl_diskless_sync is not string and redis_repl_diskless_sync is not number %}
{% for item in redis_repl_diskless_sync %}
repl-diskless-sync {{ item }}
{% endfor %}
{% else %}
repl-diskless-sync {{ redis_repl_diskless_sync }}
{% endif %}
{% endif %}
{% if redis_aof_rewrite_incremental_fsync is defined and redis_aof_rewrite_incremental_fsync|string|length > 0 %}
{% if redis_aof_rewrite_incremental_fsync is not string and redis_aof_rewrite_incremental_fsync is not number %}
{% for item in redis_aof_rewrite_incremental_fsync %}
aof-rewrite-incremental-fsync {{ item }}
{% endfor %}
{% else %}
aof-rewrite-incremental-fsync {{ redis_aof_rewrite_incremental_fsync }}
{% endif %}
{% endif %}
{% if redis_min_slaves_max_lag is defined and redis_min_slaves_max_lag|string|length > 0 %}
{% if redis_min_slaves_max_lag is not string and redis_min_slaves_max_lag is not number %}
{% for item in redis_min_slaves_max_lag %}
min-slaves-max-lag {{ item }}
{% endfor %}
{% else %}
min-slaves-max-lag {{ redis_min_slaves_max_lag }}
{% endif %}
{% endif %}
{% if redis_timeout is defined and redis_timeout|string|length > 0 %}
{% if redis_timeout is not string and redis_timeout is not number %}
{% for item in redis_timeout %}
timeout {{ item }}
{% endfor %}
{% else %}
timeout {{ redis_timeout }}
{% endif %}
{% endif %}
{% if redis_list_max_ziplist_entries is defined and redis_list_max_ziplist_entries|string|length > 0 %}
{% if redis_list_max_ziplist_entries is not string and redis_list_max_ziplist_entries is not number %}
{% for item in redis_list_max_ziplist_entries %}
list-max-ziplist-entries {{ item }}
{% endfor %}
{% else %}
list-max-ziplist-entries {{ redis_list_max_ziplist_entries }}
{% endif %}
{% endif %}
{% if redis_appendonly is defined and redis_appendonly|string|length > 0 %}
{% if redis_appendonly is not string and redis_appendonly is not number %}
{% for item in redis_appendonly %}
appendonly {{ item }}
{% endfor %}
{% else %}
appendonly {{ redis_appendonly }}
{% endif %}
{% endif %}
{% if redis_tcp_backlog is defined and redis_tcp_backlog|string|length > 0 %}
{% if redis_tcp_backlog is not string and redis_tcp_backlog is not number %}
{% for item in redis_tcp_backlog %}
tcp-backlog {{ item }}
{% endfor %}
{% else %}
tcp-backlog {{ redis_tcp_backlog }}
{% endif %}
{% endif %}
{% if redis_unixsocketperm is defined and redis_unixsocketperm|string|length > 0 %}
{% if redis_unixsocketperm is not string and redis_unixsocketperm is not number %}
{% for item in redis_unixsocketperm %}
unixsocketperm {{ item }}
{% endfor %}
{% else %}
unixsocketperm {{ redis_unixsocketperm }}
{% endif %}
{% endif %}
{% if redis_save is defined and redis_save|string|length > 0 %}
{% if redis_save is not string and redis_save is not number %}
{% for item in redis_save %}
save {{ item }}
{% endfor %}
{% else %}
save {{ redis_save }}
{% endif %}
{% endif %}
{% if redis_min_slaves_to_write is defined and redis_min_slaves_to_write|string|length > 0 %}
{% if redis_min_slaves_to_write is not string and redis_min_slaves_to_write is not number %}
{% for item in redis_min_slaves_to_write %}
min-slaves-to-write {{ item }}
{% endfor %}
{% else %}
min-slaves-to-write {{ redis_min_slaves_to_write }}
{% endif %}
{% endif %}
{% if redis_masterauth is defined and redis_masterauth|string|length > 0 %}
{% if redis_masterauth is not string and redis_masterauth is not number %}
{% for item in redis_masterauth %}
masterauth {{ item }}
{% endfor %}
{% else %}
masterauth {{ redis_masterauth }}
{% endif %}
{% endif %}
{% if redis_hll_sparse_max_bytes is defined and redis_hll_sparse_max_bytes|string|length > 0 %}
{% if redis_hll_sparse_max_bytes is not string and redis_hll_sparse_max_bytes is not number %}
{% for item in redis_hll_sparse_max_bytes %}
hll-sparse-max-bytes {{ item }}
{% endfor %}
{% else %}
hll-sparse-max-bytes {{ redis_hll_sparse_max_bytes }}
{% endif %}
{% endif %}
{% if redis_set_max_intset_entries is defined and redis_set_max_intset_entries|string|length > 0 %}
{% if redis_set_max_intset_entries is not string and redis_set_max_intset_entries is not number %}
{% for item in redis_set_max_intset_entries %}
set-max-intset-entries {{ item }}
{% endfor %}
{% else %}
set-max-intset-entries {{ redis_set_max_intset_entries }}
{% endif %}
{% endif %}
{% if redis_cluster_node_timeout is defined and redis_cluster_node_timeout|string|length > 0 %}
{% if redis_cluster_node_timeout is not string and redis_cluster_node_timeout is not number %}
{% for item in redis_cluster_node_timeout %}
cluster-node-timeout {{ item }}
{% endfor %}
{% else %}
cluster-node-timeout {{ redis_cluster_node_timeout }}
{% endif %}
{% endif %}
{% if redis_pidfile is defined and redis_pidfile|string|length > 0 %}
{% if redis_pidfile is not string and redis_pidfile is not number %}
{% for item in redis_pidfile %}
pidfile {{ item }}
{% endfor %}
{% else %}
pidfile {{ redis_pidfile }}
{% endif %}
{% endif %}
{% if redis_loglevel is defined and redis_loglevel|string|length > 0 %}
{% if redis_loglevel is not string and redis_loglevel is not number %}
{% for item in redis_loglevel %}
loglevel {{ item }}
{% endfor %}
{% else %}
loglevel {{ redis_loglevel }}
{% endif %}
{% endif %}
{% if redis_appendfilename is defined and redis_appendfilename|string|length > 0 %}
{% if redis_appendfilename is not string and redis_appendfilename is not number %}
{% for item in redis_appendfilename %}
appendfilename {{ item }}
{% endfor %}
{% else %}
appendfilename {{ redis_appendfilename }}
{% endif %}
{% endif %}
{% if redis_slave_priority is defined and redis_slave_priority|string|length > 0 %}
{% if redis_slave_priority is not string and redis_slave_priority is not number %}
{% for item in redis_slave_priority %}
slave-priority {{ item }}
{% endfor %}
{% else %}
slave-priority {{ redis_slave_priority }}
{% endif %}
{% endif %}
{% if redis_latency_monitor_threshold is defined and redis_latency_monitor_threshold|string|length > 0 %}
{% if redis_latency_monitor_threshold is not string and redis_latency_monitor_threshold is not number %}
{% for item in redis_latency_monitor_threshold %}
latency-monitor-threshold {{ item }}
{% endfor %}
{% else %}
latency-monitor-threshold {{ redis_latency_monitor_threshold }}
{% endif %}
{% endif %}
{% if redis_zset_max_ziplist_value is defined and redis_zset_max_ziplist_value|string|length > 0 %}
{% if redis_zset_max_ziplist_value is not string and redis_zset_max_ziplist_value is not number %}
{% for item in redis_zset_max_ziplist_value %}
zset-max-ziplist-value {{ item }}
{% endfor %}
{% else %}
zset-max-ziplist-value {{ redis_zset_max_ziplist_value }}
{% endif %}
{% endif %}
{% if redis_cluster_migration_barrier is defined and redis_cluster_migration_barrier|string|length > 0 %}
{% if redis_cluster_migration_barrier is not string and redis_cluster_migration_barrier is not number %}
{% for item in redis_cluster_migration_barrier %}
cluster-migration-barrier {{ item }}
{% endfor %}
{% else %}
cluster-migration-barrier {{ redis_cluster_migration_barrier }}
{% endif %}
{% endif %}
{% if redis_requirepass is defined and redis_requirepass|string|length > 0 %}
{% if redis_requirepass is not string and redis_requirepass is not number %}
{% for item in redis_requirepass %}
requirepass {{ item }}
{% endfor %}
{% else %}
requirepass {{ redis_requirepass }}
{% endif %}
{% endif %}
{% if redis_logfile is defined and redis_logfile|string|length > 0 %}
{% if redis_logfile is not string and redis_logfile is not number %}
{% for item in redis_logfile %}
logfile {{ item }}
{% endfor %}
{% else %}
logfile {{ redis_logfile }}
{% endif %}
{% endif %}
{% if redis_slowlog_max_len is defined and redis_slowlog_max_len|string|length > 0 %}
{% if redis_slowlog_max_len is not string and redis_slowlog_max_len is not number %}
{% for item in redis_slowlog_max_len %}
slowlog-max-len {{ item }}
{% endfor %}
{% else %}
slowlog-max-len {{ redis_slowlog_max_len }}
{% endif %}
{% endif %}
{% if redis_slaveof is defined and redis_slaveof|string|length > 0 %}
{% if redis_slaveof is not string and redis_slaveof is not number %}
{% for item in redis_slaveof %}
slaveof {{ item }}
{% endfor %}
{% else %}
slaveof {{ redis_slaveof }}
{% endif %}
{% endif %}
{% if redis_appendfsync is defined and redis_appendfsync|string|length > 0 %}
{% if redis_appendfsync is not string and redis_appendfsync is not number %}
{% for item in redis_appendfsync %}
appendfsync {{ item }}
{% endfor %}
{% else %}
appendfsync {{ redis_appendfsync }}
{% endif %}
{% endif %}
{% if redis_repl_disable_tcp_nodelay is defined and redis_repl_disable_tcp_nodelay|string|length > 0 %}
{% if redis_repl_disable_tcp_nodelay is not string and redis_repl_disable_tcp_nodelay is not number %}
{% for item in redis_repl_disable_tcp_nodelay %}
repl-disable-tcp-nodelay {{ item }}
{% endfor %}
{% else %}
repl-disable-tcp-nodelay {{ redis_repl_disable_tcp_nodelay }}
{% endif %}
{% endif %}
{% if redis_repl_timeout is defined and redis_repl_timeout|string|length > 0 %}
{% if redis_repl_timeout is not string and redis_repl_timeout is not number %}
{% for item in redis_repl_timeout %}
repl-timeout {{ item }}
{% endfor %}
{% else %}
repl-timeout {{ redis_repl_timeout }}
{% endif %}
{% endif %}
{% if redis_auto_aof_rewrite_percentage is defined and redis_auto_aof_rewrite_percentage|string|length > 0 %}
{% if redis_auto_aof_rewrite_percentage is not string and redis_auto_aof_rewrite_percentage is not number %}
{% for item in redis_auto_aof_rewrite_percentage %}
auto-aof-rewrite-percentage {{ item }}
{% endfor %}
{% else %}
auto-aof-rewrite-percentage {{ redis_auto_aof_rewrite_percentage }}
{% endif %}
{% endif %}
{% if redis_repl_backlog_size is defined and redis_repl_backlog_size|string|length > 0 %}
{% if redis_repl_backlog_size is not string and redis_repl_backlog_size is not number %}
{% for item in redis_repl_backlog_size %}
repl-backlog-size {{ item }}
{% endfor %}
{% else %}
repl-backlog-size {{ redis_repl_backlog_size }}
{% endif %}
{% endif %}
{% if redis_syslog_ident is defined and redis_syslog_ident|string|length > 0 %}
{% if redis_syslog_ident is not string and redis_syslog_ident is not number %}
{% for item in redis_syslog_ident %}
syslog-ident {{ item }}
{% endfor %}
{% else %}
syslog-ident {{ redis_syslog_ident }}
{% endif %}
{% endif %}
{% if redis_slave_serve_stale_data is defined and redis_slave_serve_stale_data|string|length > 0 %}
{% if redis_slave_serve_stale_data is not string and redis_slave_serve_stale_data is not number %}
{% for item in redis_slave_serve_stale_data %}
slave-serve-stale-data {{ item }}
{% endfor %}
{% else %}
slave-serve-stale-data {{ redis_slave_serve_stale_data }}
{% endif %}
{% endif %}
{% if redis_repl_diskless_sync_delay is defined and redis_repl_diskless_sync_delay|string|length > 0 %}
{% if redis_repl_diskless_sync_delay is not string and redis_repl_diskless_sync_delay is not number %}
{% for item in redis_repl_diskless_sync_delay %}
repl-diskless-sync-delay {{ item }}
{% endfor %}
{% else %}
repl-diskless-sync-delay {{ redis_repl_diskless_sync_delay }}
{% endif %}
{% endif %}
{% if redis_databases is defined and redis_databases|string|length > 0 %}
{% if redis_databases is not string and redis_databases is not number %}
{% for item in redis_databases %}
databases {{ item }}
{% endfor %}
{% else %}
databases {{ redis_databases }}
{% endif %}
{% endif %}
{% if redis_zset_max_ziplist_entries is defined and redis_zset_max_ziplist_entries|string|length > 0 %}
{% if redis_zset_max_ziplist_entries is not string and redis_zset_max_ziplist_entries is not number %}
{% for item in redis_zset_max_ziplist_entries %}
zset-max-ziplist-entries {{ item }}
{% endfor %}
{% else %}
zset-max-ziplist-entries {{ redis_zset_max_ziplist_entries }}
{% endif %}
{% endif %}
{% if redis_hz is defined and redis_hz|string|length > 0 %}
{% if redis_hz is not string and redis_hz is not number %}
{% for item in redis_hz %}
hz {{ item }}
{% endfor %}
{% else %}
hz {{ redis_hz }}
{% endif %}
{% endif %}
{% if redis_hash_max_ziplist_value is defined and redis_hash_max_ziplist_value|string|length > 0 %}
{% if redis_hash_max_ziplist_value is not string and redis_hash_max_ziplist_value is not number %}
{% for item in redis_hash_max_ziplist_value %}
hash-max-ziplist-value {{ item }}
{% endfor %}
{% else %}
hash-max-ziplist-value {{ redis_hash_max_ziplist_value }}
{% endif %}
{% endif %}
{% if redis_cluster_slave_validity_factor is defined and redis_cluster_slave_validity_factor|string|length > 0 %}
{% if redis_cluster_slave_validity_factor is not string and redis_cluster_slave_validity_factor is not number %}
{% for item in redis_cluster_slave_validity_factor %}
cluster-slave-validity-factor {{ item }}
{% endfor %}
{% else %}
cluster-slave-validity-factor {{ redis_cluster_slave_validity_factor }}
{% endif %}
{% endif %}
{% if redis_tcp_keepalive is defined and redis_tcp_keepalive|string|length > 0 %}
{% if redis_tcp_keepalive is not string and redis_tcp_keepalive is not number %}
{% for item in redis_tcp_keepalive %}
tcp-keepalive {{ item }}
{% endfor %}
{% else %}
tcp-keepalive {{ redis_tcp_keepalive }}
{% endif %}
{% endif %}
{% if redis_activerehashing is defined and redis_activerehashing|string|length > 0 %}
{% if redis_activerehashing is not string and redis_activerehashing is not number %}
{% for item in redis_activerehashing %}
activerehashing {{ item }}
{% endfor %}
{% else %}
activerehashing {{ redis_activerehashing }}
{% endif %}
{% endif %}
{% if redis_slowlog_log_slower_than is defined and redis_slowlog_log_slower_than|string|length > 0 %}
{% if redis_slowlog_log_slower_than is not string and redis_slowlog_log_slower_than is not number %}
{% for item in redis_slowlog_log_slower_than %}
slowlog-log-slower-than {{ item }}
{% endfor %}
{% else %}
slowlog-log-slower-than {{ redis_slowlog_log_slower_than }}
{% endif %}
{% endif %}
{% if redis_daemonize is defined and redis_daemonize|string|length > 0 %}
{% if redis_daemonize is not string and redis_daemonize is not number %}
{% for item in redis_daemonize %}
daemonize {{ item }}
{% endfor %}
{% else %}
daemonize {{ redis_daemonize }}
{% endif %}
{% endif %}
{% if redis_maxmemory_samples is defined and redis_maxmemory_samples|string|length > 0 %}
{% if redis_maxmemory_samples is not string and redis_maxmemory_samples is not number %}
{% for item in redis_maxmemory_samples %}
maxmemory-samples {{ item }}
{% endfor %}
{% else %}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}
{% endif %}
{% if redis_lua_time_limit is defined and redis_lua_time_limit|string|length > 0 %}
{% if redis_lua_time_limit is not string and redis_lua_time_limit is not number %}
{% for item in redis_lua_time_limit %}
lua-time-limit {{ item }}
{% endfor %}
{% else %}
lua-time-limit {{ redis_lua_time_limit }}
{% endif %}
{% endif %}
{% if redis_no_appendfsync_on_rewrite is defined and redis_no_appendfsync_on_rewrite|string|length > 0 %}
{% if redis_no_appendfsync_on_rewrite is not string and redis_no_appendfsync_on_rewrite is not number %}
{% for item in redis_no_appendfsync_on_rewrite %}
no-appendfsync-on-rewrite {{ item }}
{% endfor %}
{% else %}
no-appendfsync-on-rewrite {{ redis_no_appendfsync_on_rewrite }}
{% endif %}
{% endif %}
{% if redis_repl_ping_slave_period is defined and redis_repl_ping_slave_period|string|length > 0 %}
{% if redis_repl_ping_slave_period is not string and redis_repl_ping_slave_period is not number %}
{% for item in redis_repl_ping_slave_period %}
repl-ping-slave-period {{ item }}
{% endfor %}
{% else %}
repl-ping-slave-period {{ redis_repl_ping_slave_period }}
{% endif %}
{% endif %}
{% if redis_dbfilename is defined and redis_dbfilename|string|length > 0 %}
{% if redis_dbfilename is not string and redis_dbfilename is not number %}
{% for item in redis_dbfilename %}
dbfilename {{ item }}
{% endfor %}
{% else %}
dbfilename {{ redis_dbfilename }}
{% endif %}
{% endif %}
{% if redis_hash_max_ziplist_entries is defined and redis_hash_max_ziplist_entries|string|length > 0 %}
{% if redis_hash_max_ziplist_entries is not string and redis_hash_max_ziplist_entries is not number %}
{% for item in redis_hash_max_ziplist_entries %}
hash-max-ziplist-entries {{ item }}
{% endfor %}
{% else %}
hash-max-ziplist-entries {{ redis_hash_max_ziplist_entries }}
{% endif %}
{% endif %}
{% if redis_repl_backlog_ttl is defined and redis_repl_backlog_ttl|string|length > 0 %}
{% if redis_repl_backlog_ttl is not string and redis_repl_backlog_ttl is not number %}
{% for item in redis_repl_backlog_ttl %}
repl-backlog-ttl {{ item }}
{% endfor %}
{% else %}
repl-backlog-ttl {{ redis_repl_backlog_ttl }}
{% endif %}
{% endif %}
{% if redis_bind is defined and redis_bind|string|length > 0 %}
{% if redis_bind is not string and redis_bind is not number %}
{% for item in redis_bind %}
bind {{ item }}
{% endfor %}
{% else %}
bind {{ redis_bind }}
{% endif %}
{% endif %}
{% if redis_syslog_enabled is defined and redis_syslog_enabled|string|length > 0 %}
{% if redis_syslog_enabled is not string and redis_syslog_enabled is not number %}
{% for item in redis_syslog_enabled %}
syslog-enabled {{ item }}
{% endfor %}
{% else %}
syslog-enabled {{ redis_syslog_enabled }}
{% endif %}
{% endif %}
{% if redis_unixsocket is defined and redis_unixsocket|string|length > 0 %}
{% if redis_unixsocket is not string and redis_unixsocket is not number %}
{% for item in redis_unixsocket %}
unixsocket {{ item }}
{% endfor %}
{% else %}
unixsocket {{ redis_unixsocket }}
{% endif %}
{% endif %}
{% if redis_maxmemory is defined and redis_maxmemory|string|length > 0 %}
{% if redis_maxmemory is not string and redis_maxmemory is not number %}
{% for item in redis_maxmemory %}
maxmemory {{ item }}
{% endfor %}
{% else %}
maxmemory {{ redis_maxmemory }}
{% endif %}
{% endif %}
{% if redis_auto_aof_rewrite_min_size is defined and redis_auto_aof_rewrite_min_size|string|length > 0 %}
{% if redis_auto_aof_rewrite_min_size is not string and redis_auto_aof_rewrite_min_size is not number %}
{% for item in redis_auto_aof_rewrite_min_size %}
auto-aof-rewrite-min-size {{ item }}
{% endfor %}
{% else %}
auto-aof-rewrite-min-size {{ redis_auto_aof_rewrite_min_size }}
{% endif %}
{% endif %}
{% if redis_aof_load_truncated is defined and redis_aof_load_truncated|string|length > 0 %}
{% if redis_aof_load_truncated is not string and redis_aof_load_truncated is not number %}
{% for item in redis_aof_load_truncated %}
aof-load-truncated {{ item }}
{% endfor %}
{% else %}
aof-load-truncated {{ redis_aof_load_truncated }}
{% endif %}
{% endif %}
{% if redis_dir is defined and redis_dir|string|length > 0 %}
{% if redis_dir is not string and redis_dir is not number %}
{% for item in redis_dir %}
dir {{ item }}
{% endfor %}
{% else %}
dir {{ redis_dir }}
{% endif %}
{% endif %}
{% if redis_cluster_enabled is defined and redis_cluster_enabled|string|length > 0 %}
{% if redis_cluster_enabled is not string and redis_cluster_enabled is not number %}
{% for item in redis_cluster_enabled %}
cluster-enabled {{ item }}
{% endfor %}
{% else %}
cluster-enabled {{ redis_cluster_enabled }}
{% endif %}
{% endif %}
{% if redis_port is defined and redis_port|string|length > 0 %}
{% if redis_port is not string and redis_port is not number %}
{% for item in redis_port %}
port {{ item }}
{% endfor %}
{% else %}
port {{ redis_port }}
{% endif %}
{% endif %}
{% if redis_rdbchecksum is defined and redis_rdbchecksum|string|length > 0 %}
{% if redis_rdbchecksum is not string and redis_rdbchecksum is not number %}
{% for item in redis_rdbchecksum %}
rdbchecksum {{ item }}
{% endfor %}
{% else %}
rdbchecksum {{ redis_rdbchecksum }}
{% endif %}
{% endif %}
